.bg-container {
  height: 100vh;
}
.header-container {
  background-color: #3367d6;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-image {
  background-color: #2850a7;
  padding: 6px;
  border: 1px solid #ececec;
  margin-right: 5px;
}
.search-input {
  background-color: #2850a7;
  width: 400px;
  padding: 10px;
  border: 1px solid #ececec;
}
.history-container {
  padding: 60px;
}
.search-list-container {
  box-shadow: 0px 2px 2px 0px #64748b;
  border-radius: 10px;
}
.button {
  background-color: #ffffff;
  border: 0px;
  outline: none;
}
